body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
}

.flex-fill {
    flex: 1 1 auto;
    width: 100%;
    border-radius: 15px;
}

input {
    border: none;
}

.wordwrap {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

.table td:first-child {
    text-align: right;
}

.list-td {
    border: 1px solid black;
}

.custom-control-input {
    position: relative;
}

.stool-div-color {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-align: center;
}

.col-form-label {
    text-align: right;
}

.box {
    border-radius: 5px;
    padding: 2em;
    color: white;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.register-patient-bio {
    background: turquoise;
    padding: 2em;
}

.register-patient-allergy {
    background: orange;
    border: 1px solid orangered;
    padding: 2em;
    margin: 1em 0 1em 0;
}

#section-search {
    display: block;
    background: #333;
    padding: 1em;
    color: white;
}

.all-form-style {
    background: turquoise;
    padding: 2em;
}

.all-form-style-blood-lab {
    background: #ffccbb;
    padding: 2em;
    color: black;
}

.all-form-style-lab-green {
    background: lightseagreen;
    padding: 2em;
    color: black;
}

.all-form-style-lab-yellow {
    background: lightgoldenrodyellow;
    padding: 2em;
    color: black;
}

.all-form-style-lab-brown {
    background: #8b4513c2;
    ;
    padding: 2em;
}

.all-form-style-lab-x-ray {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(1, 1, 15, 0.45702030812324934) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 2em;
    color: white;
}

.all-form-style-oxygen {
    background: rgb(190, 189, 201);
    background: radial-gradient(circle, rgba(190, 189, 201, 1) 0%, rgba(22, 170, 185, 0.45702030812324934) 100%, rgba(0, 212, 255, 1) 100%);
    padding: 2em;
}

.alert-div {
    background: #333;
    text-align: center;
    font-weight: bold;
}

.save-result-button {
    text-align: right;
}

@media(min-width:700px) {
    .flex-fill {
        width: 50%;
    }
    .index-page {
        width: 25%;
    }
    .wordwrap {
        font-size: 3em;
    }
    .col-form-label {
        text-align: left;
    }
    .save-result-button {
        text-align: left;
    }
}

@media(min-width:500px) {
    .flex-fill {
        width: 100%;
    }
    .index-page {
        width: 100%;
    }
    .wordwrap {
        font-size: 3em;
    }
    .h1 {
        font-size: 3em;
    }
    .h4 {
        font-size: 2em;
    }
    .col-form-label {
        text-align: left;
    }
    .save-result-button {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .flex-fill {
        width: 100%;
    }
    .wordwrap {
        font-size: 1.5em;
    }
    .save-result-button {
        text-align: right;
    }
    .col-form-label {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .flex-fill {
        width: 80%;
    }
    .index-page {
        width: 25%;
    }
    .wordwrap {
        font-size: 1.5em;
    }
    .save-result-button {
        text-align: right;
    }
    .col-form-label {
        text-align: right;
    }
}